<form>
    <mat-form-field>
        <mat-label>Profile URL</mat-label>
        <input matInput type="url" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>insert_link</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Format</mat-label>
        <mat-select [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let option of options" [value]="option.toUpperCase()">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createDownloadLink()">Download</button>
</form>
<a *ngIf="trustedBlob" [href]="trustedBlob" [download]="filename">Download here</a>